@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Borel&family=Cookie&family=Fasthand&family=Hind+Madurai&family=Kablammo&family=Kalam:wght@700&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto+Condensed:wght@700&family=Rubik+Dirt&family=Ubuntu:wght@300&family=Varela+Round&family=Ysabeau+SC:wght@600&display=swap');
body{
    font-family: 'Poppins', sans-serif;    
    background-color: #f1efee;
}


/* CSS styles for the header and navigation bar */
header {
    background-color: #f2f2f2;
    padding: 20px;
    
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    
  }
  
  nav a:hover {
    color: #ff6600;
  }
  
  /* CSS styles for the hero banner */
  .hero-banner {
    background-image: url(../images/travel-pixabay-147411.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .hero-banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero-banner p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #cc5500;
  }
  
  /* CSS styles for the sections */
  section {
    padding: 50px;
  }
  
  section h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 16px;
  }
  
  /* CSS styles for the contact form */
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #cc5500;
  }